kiwisolver==1.4.7
pydantic_core==2.27.2
tzdata==2024.2
nvidia-cudnn-cu11==9.1.0.70
Jinja2==3.1.3
multidict==6.1.0
pip==24.2
nvidia-cufft-cu11==10.9.0.58
huggingface-hub==0.27.1
torchdata==0.7.1
pydantic==2.10.4
littleutils==0.2.4
outdated==0.2.2
fsspec==2024.2.0
nvidia-cusolver-cu11==11.4.1.48
nvidia-nvtx-cu11==11.8.86
pytest==8.3.4
gitdb==4.0.12
packaging==24.2
matplotlib==3.9.4
sentry-sdk==2.19.2
transformers==4.47.1
nvidia-nccl-cu11==2.21.5
multiprocess==0.70.16
MarkupSafe==2.1.5
torchaudio==2.5.1+cu118
async-timeout==5.0.1
annotated-types==0.7.0
pyarrow==18.1.0
networkx==3.2.1
aiosignal==1.3.2
torchvision==0.20.1+cu118
datasets==3.2.0
six==1.17.0
tqdm==4.67.1
triton==3.1.0
typing_extensions==4.12.2
threadpoolctl==3.5.0
torch_sparse==0.6.18+pt25cu118
frozenlist==1.5.0
filelock==3.13.1
pecos==0.1.3
nvidia-cuda-nvrtc-cu11==11.8.89
docker-pycreds==0.4.0
protobuf==5.29.2
yarl==1.18.3
torch-geometric==2.6.1
nvidia-cusparse-cu11==11.7.5.86
ogb==1.3.6
libpecos==1.2.7
nvidia-cuda-cupti-cu11==11.8.87
propcache==0.2.1
click==8.1.8
importlib_resources==6.5.2
sentencepiece==0.2.0
cycler==0.12.1
portalocker==3.1.1
pillow==10.2.0
iniconfig==2.0.0
eval_type_backport==0.2.2
idna==3.10
nvidia-cublas-cu11==11.11.3.6
psutil==6.1.1
dgl==1.1.0
tomli==2.2.1
torch==2.5.1+cu118
pyparsing==3.2.1
wandb==0.19.1
fonttools==4.55.3
contourpy==1.3.0
wheel==0.44.0
accelerate==1.2.1
aiohttp==3.11.11
scikit-learn==1.6.0
attrs==24.3.0
dill==0.3.8
setproctitle==1.3.4
setuptools==75.1.0
requests==2.32.3
charset-normalizer==3.4.1
numpy==1.26.3
mpmath==1.3.0
certifi==2024.12.14
exceptiongroup==1.2.2
pandas==2.2.3
tokenizers==0.21.0
regex==2024.11.6
zipp==3.21.0
torch_spline_conv==1.2.2+pt25cu118
pytz==2024.2
peft==0.11.0
urllib3==2.3.0
nvidia-curand-cu11==10.3.0.86
aiohappyeyeballs==2.4.4
torch_cluster==1.6.3+pt25cu118
scipy==1.13.1
safetensors==0.5.0
smmap==5.0.2
torch_scatter==2.1.2+pt25cu118
nvidia-cuda-runtime-cu11==11.8.89
platformdirs==4.3.6
python-dateutil==2.9.0.post0
GitPython==3.1.44
xxhash==3.5.0
joblib==1.4.2
PyYAML==6.0.2
sympy==1.13.1
pluggy==1.5.0
